<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head(pageTitle='Home')"> 
</head>
<body>
    <nav th:replace="layout :: nav"></nav>

    <div class="container">
          <div class="jumbotron">
            <div>
                <h1 class="display-4">Shopping Cart</h1>
            </div>
          </div>

          <hr>
          <h4></h4>
          <hr>

          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="buys: ${buys}">
                    <th th:text="${buys.buyItemName}"></th>
                    <th th:text="${buys.buyItemPrice}"></th>
                    <th th:text="${buys.buyItemDescription}"></th>
                </tr>
            </tbody> 
          </table>
          </table>

    </div>
    
</body>
</html>