<!DOCTYPE html>
<html lang="en">
<head th:replace="layout" :: "head">
</head>

<body>
    
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Enjoy your shopping 🕺</h1>
            <p class="lead">You can also sell your item from "Selling Item" on the menu bar.</p>
            <hr class="my-4">
            </p>

            <h4>New Items</h4>
            <hr>

            <table class="table table-borderd table-striped">
                <thead class="thead-dark">
                    <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Item Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item: ${items}">
                        <td th:text="${item.itemName}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.itemDescription}"></td>
                        <td><button
                            id=“delete”
                            type=“button”
                            class=“btn”
                            th:attr="onclick='location.href=\'/delete/?id=' + ${item.id} + '\''">
                            Delete</button></td>
                    </tr>


                </tbody>
            </table>


        </div>


    </div>
</body>
</html>