<!DOCTYPE html>
<html lang="en">
<head th:replace="layout" :: "head">
  
</head>

<body class="d-flex h-100 text-center text-bg-dark">

  <br>
  <div class="container">
    <form action="/sell/save" method="POST">
      <fieldset>
        <legend>Selling Your Item</legend>

        <div class="form-group mb-3">
          <label class="mb-3">Item Name: </label>
          <br>
          <input 
            class="form-control"
            type="text"
            th:field="${sell.itemName}"/>
        </div>

        <div class="form-group mb-3">
          <label class="mb-3">Price: </label>
          <br>
          <input 
            class="form-control"
            type="number"
            th:field="${sell.price}"/>
        </div>

        <div class="form-group mb-3">
          <label class="mb-3">Description : </label>
          <br>
          <textarea class="form-control" th:field="${sell.itemDescription}"></textarea>
        </div>

        <button type="submit" class="btn btn-dark mt-3">Sell Item</button>

      </fieldset>
    </form>
  </div>

</body>
</html>